extends layout

block scripts
  script(src='../scripts/user.js')

block content
  .w3-card-4
    h1#name #{user.name.givenName} #{user.name.familyName}
    h3#lon
    h3#lat
    script.
      console.log(user);
      userName="#{user.name.givenName}";
      userLastName="#{user.name.familyName}";
      userId="#{user.user_id}";
    #map
